---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title,description } = Astro.props;
const canonicalUrl = Astro.site + Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="google-site-verification"
			content="xqbnuiidq7byLdXwOniBtrMlt70iempcMnH1_BN4RNY"
		/>
		<meta
			name="description"
			content={description}
		/>
		<meta
			name="keywords"
			content="Food Safety Training, Food Safety Certification, Food Safety Courses, Food Safety India, Food Safety Training Corporation"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="index, follow" />
		<title>{title}</title>
		<link rel="icon" type="image/png" href="/title-image.png" />
		<meta property="og:title" content={title} />
		<meta
			property="og:description"
			content={description}
		/>
		<meta property="og:image" content="/title-image.png" />
		<meta
			property="og:image:alt"
			content="Food Safety Training Corporation Logo"
		/>
		<meta property="og:url" content="https://fstc.vercel.app/" />
		<meta property="og:type" content="website" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={canonicalUrl} />

		<script is:inline type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "Organization",
			  "name": "Food Safety Training Corporation",
			  "url": "https://fstc.vercel.app/",
			  "logo": "https://fstc.vercel.app/title-image.png",
			  "contactPoint": {
				"@type": "ContactPoint",
				"contactType": "Customer Service",
				"areaServed": "IN",
				"availableLanguage": "English"
			  },
			  "sameAs": [
				"https://www.facebook.com/FSTC",
				"https://twitter.com/FSTC"
			  ]
			}
			</script>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
