---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
const canonicalUrl = Astro.site + Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Meta Charset and Viewport -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Title Tag -->
		<title>{title}</title>

		<!-- Meta Description -->
		<meta name="description" content={description} />

		<!-- Meta Keywords -->
		<meta
			name="keywords"
			content="Food Safety Training, Food Safety Certification, Food Safety Courses, Food Safety Standards, Food Safety Management, Food Safety Practices, Food Safety Guidelines, Food Safety Procedures, Food Safety Training India, Food Safety Training Courses, FSSAI Certification, FSSAI Training, FSSAI Compliance, FSSAI Guidelines, FSSAI Regulations, FSSAI Food Safety, FSSAI Standards, FSSAI Courses, FSSAI Certification India, FSSAI Food Safety Certification, Food Processing Training, Food Handling Safety, Food Safety Auditor, Food Safety Inspection, Food Safety Quality Assurance, Food Safety Risk Management, Food Safety Certification India, Food Technology Training, Food Safety and Hygiene, Food Safety Compliance, Food Safety for Restaurants, Food Safety for Manufacturers, Food Safety for Retailers, Food Safety for Schools, Food Safety for Healthcare, Food Safety for Food Industry, Food Safety for Food Handlers, Food Safety Training for Staff, Food Safety Workshops, Food Safety Certification for Employees, HACCP Training, HACCP Certification, ISO 22000 Certification, ISO Food Safety Standards, GMP (Good Manufacturing Practices), Food Safety Documentation, Food Safety Awareness, Food Safety Improvement, Food Safety Online Courses, Food Safety Expert, Food Safety Practices India, Food Safety Training Programs, Food Safety Certification Programs, Food Safety Compliance Training, Food Safety Regulations India, Food Safety Courses India, Food Safety Management Systems, FSSAI Compliance Training, FSSAI Certification Courses, FSSAI Standards Compliance, Food Safety Quality Control, Food Safety Protocols, Food Safety Risk Assessment, Food Safety Education, Food Safety Strategies, Food Safety Procedures India, Food Safety Auditing, Food Safety Certification Training, Food Safety Training Institute, Food Safety Resources, Food Safety Strategies India, FSSAI Food Safety Training, FSSAI Certification Process, FSSAI Safety Guidelines, FSSAI Approved Training, Food Safety Risk Mitigation, Food Safety Essentials, Food Safety Improvement Programs, Food Safety Training Workshops, Food Safety Expertise, Food Safety Regulations Compliance, Food Safety Industry Standards, Food Safety Procedures and Guidelines, Food Safety for Food Production, Food Safety for Food Services, Food Safety Certification for Food Businesses, Food Safety Awareness Programs, Food Safety Management Certification, Food Safety Practices for Restaurants, Food Safety Monitoring, Food Safety Enforcement, Food Safety Knowledge, Food Safety Best Practices"
		/>

		<!-- Canonical Link -->
		<link rel="canonical" href={canonicalUrl} />

		<!-- Meta Robots -->
		<meta name="robots" content="index, follow" />

		<!-- Meta Open Graph Tags -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/fstc.webp" />
		<meta
			property="og:image:alt"
			content="Food Safety Training Corporation Logo"
		/>
		<meta property="og:url" content="https://fstc.vercel.app/" />
		<meta property="og:type" content="website" />

		<!-- Link Tags -->
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Schema.org JSON-LD -->
		<script is:inline type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "Food Safety Training Corporation",
				"alternate-name": "FSTC",
				"url": "https://fstc.vercel.app/",
				"logo": "https://fstc.vercel.app/title-image.webp",
				"contactPoint": {
					"@type": "ContactPoint",
					"contactType": "Customer Service",
					"areaServed": "IN",
					"availableLanguage": "English"
				},
				"sameAs": [
					"https://www.facebook.com/FSTC",
					"https://twitter.com/FSTC"
				]
			}
		</script>

		<!-- Site Verification tags -->
		<meta name="msvalidate.01" content="85FC2FFA95BDF67FEE4E15AE4013D853" />
		<meta
			name="google-site-verification"
			content="3loAzfszYCZWAkDo2KkqQkmrcsGcMqZt7OkmJcuEEY8"
		/>

		<!-- Link to Multiple Favicon Sizes -->
		<link
			rel="icon"
			type="image/webp"
			sizes="32x32"
			href="/favicon-32x32.webp"
		/>
		<link
			rel="icon"
			type="image/webp"
			sizes="16x16"
			href="/favicon-16x16.webp"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.webp"
		/>
		<link
			rel="icon"
			type="image/webp"
			sizes="192x192"
			href="/android-chrome-192x192.webp"
		/>
		<link rel="manifest" href="/site.webmanifest" />

		<!-- Fallback for older browsers -->
		<link rel="icon" href="/favicon.ico" />
	</head>

	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
